
.pagetitle {
	color: steelblue;
	font-family: 'Alice', serif;
	font-size: 30px;
}

.pagesubtitle {
	color: black;
	font-family: 'Alice', serif;
	font-size: 15x;
	font-weight: bold;
}

.pagetext {
	
}

.pagebutton {
	background-color: steelblue;
	color: white;
	font-family: 'Arial';
	font-size: 15px;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

svg .weathericon {
	font-family: WeatherIcons;
	font-size: 20px;
	fill: black;
}

svg .graphline {
	fill: none;
	stroke-width: 2px;
}

svg .hoverbar:hover {
	fill-opacity: .1;
}

svg .graphbutton {
	rx: 5;
	ry: 5;
	stroke: none;
}

svg .graphbuttonlabel {
	font-family: 'Arial';
	font-size: 15px;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 15px;
	fill: black;
}
